body{
    font-family: 'Poppins' ,sans-serif;
    height: auto;
    overflow-x: hidden;
}
.section_1{
    background-color: rgb(233, 230, 230);
    height: 500px;
    width: 1350px;
}
header{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}
#star{
    font-size: 40px;
    color: rgb(18, 22, 12);
}
#center1{
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#name1{
    display: flex;
    padding-left: 50px;
    font-size: xx-large;
}
.paragraph1{
    width: 300px;
    height: 280px;
    border: 1px solid black;
    padding-left: 60px;
}
#paragraph2{
    width: 360px;
    height: 200px;
    border: 1px solid black;
    position: relative;
    left: 900px;
    top: -450px;
    text-align: center;
    font-size: large;
}
#paragraph2>h1{
    color: #EAAB1B;
}
.button{
    background-color: #6CB840;
    width: 90px;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 40%;
}
#img1{
    position: relative;
    left: 800px;
    top: -1530px;
    opacity: 1;
}
#image2{
    position: relative;
    left: 595px;
    top: -1705px;
    opacity: 1;
}
#image3{
    position: relative;
    left: 1025px;
    top: -1790px;
    opacity: 1;
}
#image4{
    position: relative;
    left: 815px;
    top: -2100px;
    opacity: 1;
}
#image5{
    position: relative;
    left: 965px;
    top: -2130px;
    opacity: 1;
}
#image6{
    position: relative;
    left: 665px;
    top: -2245px;
    opacity: 1;
}
#image7{
    position: relative;
    right: 100px;
}
#image8{
    position: relative;
    right: 200px;
    bottom: 100px;
    opacity: 1;
}
#image9{
    position: relative;
    bottom: 105px;
}
#image10{
    position: relative;
    bottom: 470px;
    left: 50px;
}
#semicircle{
    height: 1000px;
    width: 1000px;
    border: 1px;
    border-radius: 0 0 150% 150%;
    background-color: #5fc22a;
    position: relative;
    left: 400px;
    top: -1000px;
    opacity: 0.4;
}#semicircle2{
    height: 450px;
    width: 450px;
    border-top: 3px dashed green;
    border-radius: 50%;
    position: relative;
    left: 650px;
    top: -1250px;
}
#section2a{
height: 820px;
}
.exploremenu{
    width: 1300px;
    height: 450px;
    background-color: #e4f7d9;
    position: relative;
    left: 15px;
}
.exploremenu>h3, .HotDeals>h3{
    text-align: center;
    font-size: 40px;
}
#content1{
    width: 200px;
    height: 130px;
    background-color: white;
    position: relative;
    left: 50px;
    text-align: center;
    border-radius: 0 0 35% 0;
    padding-left: 60px;
}
#content1>h4{
    width: inherit;
    height: 10px;
    text-align: left;
    padding: 0;
}
p{
    margin: 0;
}
.row1, .row2{
    display: flex;
    justify-content: space-evenly;
}
.HotDeals{
    width: 1300px;
    height: 600px;
    background-color: #C9ECB5;
    position: relative;
    left: 15px;
}
