body{
    font-family: 'poppins' Arial, Helvetica, sans-serif;
}
.section_1{
    background-color: rgb(233, 230, 230);
    height: 600px;
}
header{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}
#star{
    font-size: 40px;
    color: rgb(18, 22, 12);
}
#center1{
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#name1{
    display: flex;
    padding-left: 50px;
    font-size: xx-large;
}
.paragraph1{
    width: 300px;
    height: 280px;
    border: 1px solid black;
    padding-left: 60px;
}
.button{
    background-color: #6CB840;
    width: 90px;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 40%;
}
img{
    position: fixed;
    right: 3px;
    top: 200px;
}
#semicircle{
    height: 1000px;
    width: 1000px;
    background-color: #649549;
    position: fixed;
    right: -80px;
    top: -500px;
    border-radius: 50%;
    opacity: 0.4;
}